.contact {
    /* background-color: black; */
    height: 90vh;
    color:  white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 5.5rem;
}
.contact div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.contact div p{
    width: 70%;
    text-align: left;
    font-size: 17px;
    margin: 1.4;
}
.contact div p span {
    color: rgb(164, 97, 226);
    font-weight: 800;
    font-size: 18px;
} 
.contact div h1{
    width: 70%;
    text-align: left;
    margin: 0;
    color: rgb(164, 97, 226);
}
.contact .details ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items:center; */
    width: 70%;
    padding: 0;
}
.contact .details ul li {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 0.35rem;
    width: 55%;
    border-radius: 1rem;
    border: 1px solid rgb(64, 16, 109);
    background-color: rgb(64, 16, 109);
    color: white;
}
.contact .details ul li span {
    margin-left: 0.5rem;
}
.contact .details ul li:hover {
    color: rgb(64, 16, 109);
    background-color: white;
}
.contact .inputs button {
    width: 50%;
    color: white;
    margin-top: 2rem;
    padding: 1rem ;
    background-color: rgb(64, 16, 109);
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.5s ease;
}
.contact .inputs input::placeholder{
    color: rgb(218, 180, 254);
}
.contact .inputs button:hover{
    color: rgb(64, 16, 109);
    background-color: white;
}